* {
  box-sizing: border-box;
  font-family: sans-serif, helvetica;
}
html,
body {
  /*2 ways to extend grdient to the whole page; either min-height on the html or
        background-attachment: fixed. Difference is that with fixed the background  won't move if you
        have a page that can scroll. I used background-attachment: fixed; because in order for the footer 
        to stay at the bottom of a page regardless of the size I needed height instead of min-height (not
        sure why) on the body. For some reaon when you set min-height 100% to the body it doesn't reach 
        the bottom of the page. Not sure why. */
  height: 100%;
  /* min-height: 100%;    */
}
body {
  background: linear-gradient(
    45deg,
    rgba(242, 159, 243, 0.3),
    rgba(184, 161, 204, 0.8),
    #7cba84
  );
  margin: 0;
  background-attachment: fixed;
}
label{
    display: block;
    margin: 0 auto;
    width: 25%;
}
#wrapper {
  position: relative;
  min-height: 100%;
}
#content {
  padding-bottom: 35px;
  min-height: 100%;
}
h1 {
  text-align: center;
}
footer {
  padding: 7px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  height: 35px;
}
ul {
  font-size: 2em;
  border-radius: 3%;
  padding: 0;
  width: 45%;
  background-color: white;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 3em;
  box-shadow: 5px 5px 5px grey;
  overflow: hidden;
}
input {
  display: block;
  margin: 0 auto;
  border-radius: 3%;
  background-color: white;
  box-shadow: 5px 5px 5px grey;
  width: 25%;
  padding: 1em;
}
input[type='submit'] {
  width: 15%;
}
h1 {
  margin-top: 2em;
}
nav {
  background-color: #5e3574;
  width: 100%;
  height: 50px;
}
nav > a:active {
  color: green;
}
nav > a:hover {
  background: rgba(197, 140, 214, 0.67);
}
nav > a {
  color: white;
  display: inline-block;
  position: relative;
  height: 100%;
  background: transparent;
  padding: 11px;
  text-decoration: none;
  font-size: 1.5em;
}
.right {
  float: right;
}
li {
  padding: 10px;
  margin: 0 auto;
  background-color: white;
}
.linethrough {
  color: #2a15b4;
  background-color: transparent;
  text-decoration: line-through;
}
.crossedout {
  background-color: transparent;
  color: #605555;
}
i {
  color: #ec3866;
  text-shadow: 3px 2px 12px #351f06;
  font-size: 1.5em;
}
.userlist {
  width: 60%;
  text-align: center;
  list-style: inside lower-roman
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAABRFBMVEX///93Skr+9o9uPj778nSEXFyYd3dpODhmMzMHBwbn39fDlT39+LwcHBtqOAf89ZVbW1pfXDTGmUR0cUCkn1p7dkNZVjFLSClkYTbmz2HcwY3w5M29iCLm0GfVsEPfxpeakEuDTQ4nJiC3sl6cl1NpTDyUY0SlgVWdeyVbWlOall+FglvQrWqXbBIZFw3sx5LFv2Wjk2Pbu3+2fhvJn1OLZxW+iyn06bX798rv4afVs2Ds3L/n0oX06tnn07DOp1TfoZrsxp399qHQqT/z2pTw0ZTz5YL99qry1qz03Kv67qzmtZx/VCmqjnJxQiF0Rz+AVT6gaBalck6UYkR6Rx5sOye+qZOkhWfbz8OQbEmDWTGVcmDv6uWliIChgnhfOS3Vsjy/n4CFf3+mpp1TNBWenYOYlJFmMxTNp37MoCr253i9kHUbzisZAAABSUlEQVQokV3R6z/CUBgH8FlDNp6YkDpEkVtCJrqzVgvrgi22olxD//97Z5fTyvfF2dnz+zzPzueMomxsSzcUQ689UWM6NQVAxUB9ZEfqrA5q++UZaxtguE0dHZpTRBOMYU8L6pOuOtTIIAUaE46GBgAKSxo0jwOX1Yf7u6wd6KBNW7x9UGODZA4F7UABr60PyqD8yzA/cTtQgdRj3xUG6/Fu4PF06/XmK2PpcSTQum9flnfTZ4kj34CPecvBvrnu7TqjdjZj23OWrWgEr5EzwQ7Cp8mTGVMiepwwH4fOqUJolQ6sLAeW/DTtX1wIbKCwcyf8Oj1qDYWcIIgqPp9POpKksoQ3JYHcbj61Lori1SV2K4sVVBj+kDDKyfLNdbVaTcuy24DFUW7WkUllqbEkk77AzjPDI5FpPOKKmWKKK1D/FZICLwTz5PUP35g9p/9noB0AAAAASUVORK5CYII=);
}
.delete {
  display: inline-block;
  height: 1em;
  width: 1em;
}
.delete:hover {
  transform: scale(1.2);
}
#todoList li {
  cursor: pointer;
  list-style: none;
  width: 100%;
}
#todoList li:hover {
  background-color: rgba(130, 78, 136, 0.13);
}
@-webkit-keyframes spaceboots {
  0% {
    -webkit-transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-10deg);
  }
  20% {
    -webkit-transform: rotate(10deg);
  }
  30% {
    -webkit-transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
  }
  70% {
    -webkit-transform: rotate(-10deg);
  }
  80% {
    -webkit-transform: rotate(10deg);
  }
  90% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
  }
}
.erase {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  transform: scale(1.2);
}
